<div class="img-container">
    <div class="offset6 span4 layout">
        <h3><%= t("shared.users.login.title") %></h3>
        <%= form_for(:session, :url => sessions_path) do |f| %>
            <div class="control-group">
                <%= label_tag t("shared.users.common.email") %><br />
                <%= f.text_field :email, { :class => "span4" } %>
            </div>

            <div class="control-group">
                <%= label_tag t("shared.users.common.password") %><br />
                <%= f.password_field :password, { :class => "span4" } %>
            </div>

            <div class="controls">
                <%= f.submit t("shared.users.login.login"), { :class => "btn-primary btn" } %>
            </div>
        <% end %>
    </div>
</div>
