<div class="row img-form">
    <div align="right" class="container not-filled"><i class="icon-flag"></i> <%= link_to t('shared.pages.not_filled', :this_date => "#{@start.strftime('%d.%m.%Y')}" ), { :controller => "pages", :action => "total", :date => @start.strftime('%Y-%m-%d'), :type => 'public' }, { :title => t('shared.pages.not_provided') } %></div>
    <div class="container bglayout">
        <p align="right"><%=t 'shared.result.date_html', :start_date => "#{@start.strftime('%d.%m.%Y')}" %></p>
        <h3 align="center"><%= t('shared.result.title_html') %></h3>
        <%= form_for(@result) do |f| %>
            <% if not @result.errors.blank? %>
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert" id="close-button">×</button>
                    <ul>
                        <% @result.errors.full_messages.each do |msg| %>
                            <li><%= raw msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="alert alert-block hidden-start no-one-last-result">
                <button type="button" class="close" data-dismiss="alert" id="close-warning-button">×</button>
                <%= t('shared.result.no_one_last_result') %>
            </div>

            <div align="right" id="manual-link"><span><%= t('shared.manualink') %></span></div>
            <div class="manual alert alert-info hidden-start">
                <button type="button" class="close" data-dismiss="alert" id="close-manual-button">×</button>
                <%= t("shared.manual_html") %>
            </div>

            <div class="control-group">
                <%= label_tag 'org-name', t('shared.result.org'), { :class => "head-label" } %><br />
                <%= f.grouped_collection_select(:org_id, Area.order("id").all, :sort_orgs, :name, :id, :name, { :include_blank => true }, :autofocus => true) %>
            </div>

            <div class="control-group hidden-start fill-form underliner">
                <%= check_box_tag 'last-result' %>
                <%= label_tag 'last-result', t('shared.result.last_result') %>
            </div>

            <div class="control-group underliner">
                <h4><%= t('shared.result.term.header') %></h4>
                <div id="about-org"></div>
                <div class="row-group terms-pmz hidden-start">
                    <p><%= t('shared.result.term.real') %> <span id="count-of-terms"></span></p>
                </div>
                <div class="row-group">
                    <%= label_tag 'used-term', t('shared.result.term.used'), { :class => "head-label" } %><br />
                    <%= f.text_field :used_term %>
                </div>
                <div class="container-workers hidden-start">
                    <%= label_tag 'workers-term', t('shared.result.term.workers_term'), { :class => "head-label" } %><br />
                    <%= f.text_field :workers_term %>
                </div>
                <div class="container-not-workers hidden-start">
                    <%= label_tag 'not-cod', t('shared.result.term.not_workers_reason_html'), { :class => "head-label" } %><br />
                    <%= f.text_area :workers_term_reason, :rows => 4 %>
                </div>
                <div class="container-addition-works hidden-start">
                    <%= label_tag 'addition-works', t('shared.result.term.addition_html'), { :class => "head-label" } %><br />
                    <%= label_tag 'addition-volokno', t('shared.result.term.addition.volokno') %><br />
                    <%= f.check_box :addition_sks %>
                    <%= label_tag 'addition-sks', t('shared.result.term.addition.sks') %><br />
                    <%= f.check_box :addition_other %>
                    <%= label_tag 'addition-other', t('shared.result.term.addition.other'), { :class => "head-label" } %><br />
                    <%= f.text_area :addition_other_def, :rows => 4, :class => "hidden-start" %><br />
                </div>
                <div class="container-steps-volokno hidden-start">
                    <%= label_tag 'steps-volokno', t('shared.result.term.steps_volokno_html'), { :class => "head-label" } %><br />
                    <%= f.radio_button :step_volokno, 1 %> <%= label_tag 'step-1', t('shared.result.term.steps.step_1') %><br />
                    <%= f.radio_button :step_volokno, 2 %> <%= label_tag 'step-2', t('shared.result.term.steps.step_2') %><br />
                    <%= f.radio_button :step_volokno, 3 %> <%= label_tag 'step-3', t('shared.result.term.steps.step_3') %><br />
                    <%= f.radio_button :step_volokno, 4 %> <%= label_tag 'step-4', t('shared.result.term.steps.step_4') %><br />
                    <%= f.radio_button :step_volokno, 5 %> <%= label_tag 'step-5', t('shared.result.term.steps.step_5'), :class => "head-label" %><br />
                    <%= f.text_area :step_volokno_other_def, :rows => 4, :class => "hidden-start" %><br />
                </div>
                <div class="container-steps-sks hidden-start">
                    <%= label_tag 'steps-sks', t('shared.result.term.steps_sks_html'), { :class => "head-label" } %><br />
                    <%= f.radio_button :step_sks, 1 %> <%= label_tag 'step-1', t('shared.result.term.steps.step_1') %><br />
                    <%= f.radio_button :step_sks, 2 %> <%= label_tag 'step-2', t('shared.result.term.steps.step_2') %><br />
                    <%= f.radio_button :step_sks, 3 %> <%= label_tag 'step-3', t('shared.result.term.steps.step_3') %><br />
                    <%= f.radio_button :step_sks, 4 %> <%= label_tag 'step-4', t('shared.result.term.steps.step_4') %><br />
                    <%= f.radio_button :step_sks, 5 %> <%= label_tag 'step-5', t('shared.result.term.steps.step_5'), :class => "head-label" %><br />
                    <%= f.text_area :step_sks_other_def, :rows => 4, :class => "hidden-start" %><br />
                </div>
                <div class="container-term-reason hidden-start">
                    <%= label_tag 'term-reason', t('shared.result.term.reason_html'), { :class => "head-label" } %><br />
                    <%= f.text_area :used_term_reason, :rows => 4 %>
                </div>
                <div class="container-cod-date hidden-start">
                    <%= label_tag 'cod_date', t('shared.result.term.date_cod'), { :class => "head-label" } %><br />
                    <%= f.text_field :cod_date_term, :placeholder => t('shared.result.term.date_cod_help') %>
                </div>
            </div>

            <div class="control-group underliner">
                <h4><%= t('shared.result.emk.header') %></h4>
                <%= label_tag 'emk-used', t('shared.result.emk.used'), { :class => "head-label" } %><br />
                <%= label_tag 'emk-used-yep', t('shared.result.yep') %>
                <%= f.radio_button :emk_term, 1 %>
                <%= label_tag 'emk-used-nope', t('shared.result.nope') %>
                <%= f.radio_button :emk_term, 0 %>

                <div class="container-mis hidden-start">
                    <%= label_tag 'mis-used', t('shared.result.emk.mis'), { :class => "head-label" } %><br />
                    <%= label_tag 'mis-used-yep', t('shared.result.yep') %>
                    <%= f.radio_button :mis_inet, 1 %>
                    <%= label_tag 'mis-used-nope', t('shared.result.nope') %>
                    <%= f.radio_button :mis_inet, 0 %>
                </div>

                <div class="container-mis-inet-reason hidden-start">
                    <%= label_tag 'mis-inet-reason', t('shared.result.emk.mis_inet_reason'), { :class => "head-label" } %><br />
                    <%= f.text_area :mis_inet_reason, :rows => 4 %>
                </div>

                <div class="container-emk-reason hidden-start">
                    <%= label_tag 'emk-reason', t('shared.result.emk.reason'), { :class => "head-label" } %><br />
                    <%= f.text_area :mis_emk_reason, :rows => 4 %>
                </div>
            </div>
         
            <div class="control-group register-group hidden-start underliner">
                <h4><%= t('shared.result.register.header') %></h4>
                <%= label_tag 'register-used', t('shared.result.register.used'), { :class => "head-label" } %><br />
                <%= label_tag 'register-used-yep', t('shared.result.yep') %>
                <%= f.radio_button :register, 1 %>
                <%= label_tag 'register-used-nope', t('shared.result.nope') %>
                <%= f.radio_button :register, 0 %>

                <div class="container-register-reason hidden-start">
                    <%= label_tag 'register-reason', t('shared.result.register.reason'), { :class => "head-label" } %><br />
                    <%= f.text_area :register_reason, :rows => 4 %>
                </div>

                <div class="container-register-details hidden-start">
                    <%= label_tag 'register-details', t('shared.result.register.details', :start_date => "#{@start.strftime('%d.%m.%Y')}"), { :class => "head-label" } %><br />
                    <%= f.text_field :record_inet %>
                </div>
            </div>

            <div class="control-group underliner">
                <h4><%= t('shared.result.doc.header') %></h4>
                <%= label_tag 'doc-used', t('shared.result.doc.used'), { :class => "head-label" } %><br />
                <%= label_tag 'doc-used-yep', t('shared.result.yep') %>
                <%= f.radio_button :doc_reg, 1 %>
                <%= label_tag 'doc-used-nope', t('shared.result.nope') %>
                <%= f.radio_button :doc_reg, 0 %>

                <div class="container-doc-reason hidden-start">
                    <%= label_tag 'doc-reason', t('shared.result.doc.reason'), { :class => "head-label" } %><br />
                    <%= f.text_area :doc_reg_reason, :rows => 4 %>
                </div>
            </div>

            <div class="control-group infomat-group hidden-start underliner">
                <h4><%= t('shared.result.infomat.header') %></h4>
                <%= label_tag 'infomat-used', t('shared.result.infomat.used'), { :class => "head-label" } %><br />
                <%= label_tag 'infomat-used-yep', t('shared.result.yep') %>
                <%= f.radio_button :used_infomat, 1 %>
                <%= label_tag 'infomat-used-nope', t('shared.result.nope') %>
                <%= f.radio_button :used_infomat, 0 %>

                <div class="container-infomat-reason hidden-start">
                    <%= label_tag 'infomat-reason', t('shared.result.infomat.reason'), { :class => "head-label" } %><br />
                    <%= f.text_area :used_infomat_reason, :rows => 4 %>
                </div>
            </div>

            <div class="control-group info-group hidden-start underliner">
                <h4><%= t('shared.result.info.header') %></h4>
                <%= label_tag 'info-used', t('shared.result.info.used'), { :class => "head-label" } %><br />
                <%= label_tag 'info-used-yep', t('shared.result.yep') %>
                <%= f.radio_button :info_pat, 1 %>
                <%= label_tag 'info-used-nope', t('shared.result.nope') %>
                <%= f.radio_button :info_pat, 0 %>

                <div class="container-info-reason hidden-start">
                    <%= label_tag 'info-reason', t('shared.result.info.reason'), { :class => "head-label" } %><br />
                    <%= f.text_area :info_pat_reason, :rows => 4 %>
                </div>
            </div>

            <div class="control-group">
                <h4><%= t('shared.result.comments') %></h4>
                <%= f.text_area :comments, :rows => 10 %>
            </div>

            <div class="control-group">
                <h4><%= t('shared.result.performer.header') %></h4>
                <div>
                    <%= label_tag 'fio', t('shared.result.performer.fio'), { :class => "head-label" } %><br />
                    <%= f.text_field :fio %>
                </div>
                <div>
                    <%= label_tag 'phone', t('shared.result.performer.phone'), { :class => "head-label" } %><br />
                    <%= f.text_field :phone %>
                </div>
            </div>

            <%= hidden_field_tag 'result[start_date]', "#{@start}" %>

            <div class="control-group buttons-group hidden-start">
                <div class="controls">
                    <%= f.submit t('shared.actions.save'), {:class => "btn-primary btn"} %>
                    <%= submit_tag t('shared.actions.cancel'), {:name => 'cancel_button', :class => "btn"} %>
                </div>
            </div>
        <% end %>
    </div>
</div>
