<div class="container-fluid">
    <h3><%= @org.name %></h3>
    <div align="right">
        <strong><%= t('shared.pages.org.fill_date') %></strong><%= l @result.created_at.localtime, :format => :short_date %>
    </div>
    <div class="group">
        <h4><%= t('shared.result.term.header') %></h4>
        <div class="container-fluid">
            <p>
                <%= t('shared.pages.org.term_pmz') %><strong><%= @org.term %></strong>
                <br /><%= t('shared.pages.org.term_used') %><strong><%= @result.used_term %></strong>
                <% if !@result.workers_term.blank? %>
                    <br /><%= t('shared.pages.org.term_workers') %><strong><%= @result.workers_term %>
                <% end %>
            </p>
            
            <% if !@result.workers_term.blank? && @result.used_term > @result.workers_term %>
                <dl>
                    <dt><%=t 'shared.pages.org.term_workers_reason', :numb => @result.used_term - @result.workers_term %></dt>
                    <dd><%= @result.workers_term_reason %></dd>
                </dl>
            <% end %>

            <% if @result.addition_volokno==1 || @result.addition_sks==1 || @result.addition_other==1 %>
                <dl>
                    <dt><%= t('shared.pages.org.addition_work') %></dt>
                    <dd>
                        <table class="table table-bordered" width="60%">
                            <tbody>
                                <% if @result.addition_volokno==1 %>
                                    <tr>
                                        <td><%= t('shared.result.term.addition.volokno') %></td>
                                        <td>
                                            <% case @result.step_volokno %>
                                            <% when 1 %>
                                                <%= t('shared.result.term.steps.step_1') %>
                                            <% when 2 %>
                                                <%= t('shared.result.term.steps.step_2') %>
                                            <% when 3 %>
                                                <%= t('shared.result.term.steps.step_3') %>
                                            <% when 4 %>
                                                <%= t('shared.result.term.steps.step_4') %>
                                            <% when 5 %>
                                                <%= @result.step_volokno_other_def %>
                                            <% end %>
                                        </td>
                                    </tr>
                                <% elsif @result.addition_sks==1 %>
                                    <tr>
                                        <td><%= t('shared.result.term.addition.sks') %></td>
                                        <td>
                                            <% case @result.step_sks %>
                                            <% when 1 %>
                                                <%= t('shared.result.term.steps.step_1') %>
                                            <% when 2 %>
                                                <%= t('shared.result.term.steps.step_2') %>
                                            <% when 3 %>
                                                <%= t('shared.result.term.steps.step_3') %>
                                            <% when 4 %>
                                                <%= t('shared.result.term.steps.step_4') %>
                                            <% when 5 %>
                                                <%= @result.step_sks_other_def %>
                                            <% end %>
                                        </td>
                                    </tr>
                                <% elsif @result.addition_other==1 %>
                                    <tr>
                                        <td colspan="2"><%= @result.addition_other_def %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </dd>
                </dl>
            <% else %>
                <% if @org.term > @result.used_term %>
                    <dl>
                        <dt><%=t 'shared.pages.org.term_used_reason', :numb => @org.term - @result.used_term %></dt>
                        <dd><%= @result.used_term_reason %></dd>
                    </dl>
                <% end %>
            <% end %>
            <% if !@result.cod_date_term.blank? %>
                <p><%=t 'shared.pages.org.term_date_cod', :cod_date => @result.cod_date_term, :numb => @org.term - @result.used_term %></p>
            <% end %>
        </div>
    </div>

    <div class="group">
        <h4><%= t('shared.result.emk.header') %></h4>
        <div class="container-fluid">
            <% if @result.emk_term == 1 %>
                <p><%= t('shared.pages.org.emk_term') %></p>
            <% elsif @result.mis_inet == 1 %>
                <dl>
                    <dt><%= t('shared.pages.org.emk_inet_html') %></dt>
                    <dd><%= @result.mis_inet_reason %></dd>
                </dl>
            <% else %>
                <dl>
                    <dt><%= t('shared.pages.org.emk_reason_html') %></dt>
                    <dd><%= @result.mis_emk_reason %></dd>
                </dl>
            <% end %>
        </div>
    </div>

    <% if @org.register == 1 %>
        <div class="group">
            <h4><%= t('shared.result.register.header') %></h4>
            <div class="container-fluid">
                <% if @result.register == 1 %>
                    <p><%=t 'shared.pages.org.reg_html', :people => "#{@result.record_inet}" %></p>
                <% else %>
                    <dl>
                        <dt><%= t('shared.pages.org.reg_reason_html') %></dt>
                        <dd><%= @result.register_reason %></dd>
                    </dl>
                <% end %>
            </div>
        </div>
    <% end %>

    <div class="group">
        <h4><%= t('shared.result.doc.header') %></h4>
        <div class="container-fluid">
            <% if @result.doc_reg == 1 %>
                <p><%= t('shared.pages.org.doc') %></p>
            <% else %>
                <dl>
                    <dt><%= t('shared.pages.org.doc_reason_html') %></dt>
                    <dd><%= @result.doc_reg_reason %></dd>
                </dl>
            <% end %>
        </div>
    </div>

    <% if @org.infomat == 1 %>
        <div class="group">
            <h4><%= t('shared.result.infomat.header') %></h4>
            <div class="container-fluid">
                <% if @result.used_infomat == 1 %>
                    <p><%= t('shared.pages.org.infomat') %></p>
                <% else %>
                    <dl>
                        <dt><%= t('shared.pages.org.infomat_reason_html') %></dt>
                        <dd><%= @result.used_infomat_reason %></dd>
                    </dl>
                <% end %>
            </div>
        </div>
    <% end %>

    <% if @org.register == 1 %>
        <div class="group">
            <h4><%= t('shared.result.info.header') %></h4>
            <div class="container-fluid">
                <% if @result.info_pat == 1 %>
                    <p><%= t('shared.pages.org.info') %></p>
                <% else %>
                    <dl>
                        <dt><%= t('shared.pages.org.info_reason_html') %></dt>
                        <dd><%= @result.info_pat_reason %></dd>
                    </dl>
                <% end %>
            </div>
        </div>
    <% end %>
    
    <% if not @result.comments.blank? %>
        <div class="group">
            <h4><%= t('shared.result.comments') %></h4>
            <div class="container-fluid">
                <%= @result.comments %>
            </div>
        </div>
    <% end %>

    <div>
        <h4><%= t('shared.result.performer.header') %></h4>
        <div class="container-fluid">
            <p><strong><%= t('shared.pages.org.fio') %></strong><%= @result.fio %><br />
            <strong><%= t('shared.pages.org.phone') %></strong><%= @result.phone %></p>
        </div>
    </div>
</div>
