<h3><%= t('shared.pages.statistic.title') %></h3>
<div style="float: right;">
    <ul class="inline">
        <li><a href="" title=<%= t('shared.pages.statistic.excel') %>><i class="icon-file"></i></a></li>
        <li><a href="print-records" title=<%= t('shared.pages.statistic.printrecords') %> target="blank"><i class="icon-print"></i></a></li>
    </ul>
</div>
<p><strong><%= t('shared.pages.statistic.count_forms') %></strong><%= @count %></p>
