            <tbody>
                <tr>
                    <th width="3%" rowspan="2"><%= t('shared.pages.statistic.table.numb_html') %></th>
                    <th width="16%" rowspan="2"><%= t('shared.pages.statistic.table.name') %></th>
                    <th width="12%" colspan="2"><%= t('shared.pages.statistic.table.terms') %></th>
                    <th width="12%" colspan="2"><%= t('shared.pages.statistic.table.emk') %></th>
                    <th width="13%" rowspan="2"><%= t('shared.pages.statistic.table.register') %></th>
                    <th width="7%" rowspan="2"><%= t('shared.pages.statistic.table.doc_reg') %></th>
                    <th width="12%" rowspan="2"><%= t('shared.pages.statistic.table.infomat_html') %></th>
                    <th width="10%" rowspan="2"><%= t('shared.pages.statistic.table.info_stand') %></th>
                    <th rowspan="2"><%= t('shared.pages.statistic.table.comments') %></th>
                </tr>
                <tr>
                    <th width="7%"><%= t('shared.pages.statistic.table.term_real') %></th>
                    <th width="5%"><%= t('shared.pages.statistic.table.term_used') %></th>
                    <th><%= t('shared.pages.statistic.table.emk_term') %></th>
                    <th><%= t('shared.pages.statistic.table.emk_inet') %></th>
                </tr>
                <% @orgs.each do |org| %>
                    <tr>
                        <td id="org_number"><%= org.id %></td>
                        <td>
                            <% if not org.this_date_form(start_val).blank? %>
                                <%= link_to org.name, org %>
                            <% else %>
                                <%= org.name %>
                            <% end %>
                        </td>
                        <% if org.results.blank? %>
                            <td colspan="9" class="center-middle"><%= t('shared.pages.statistic.table.none') %></td>
                        <% elsif not org.results.last.start_date.to_s.eql?(start_val.to_s) %>
                            <td colspan="9" class="center-middle"><%= t('shared.pages.statistic.table.none') %></td>
                        <% else %>
                            <td><%= org.term %></td>

                            <td>
                                <% if org.term > org.results.last.used_term %>
                                    <span class="sender"><%= org.results.last.used_term %></span>
                                    <div class="hidden-start detail"><%= org.results.last.used_term_reason %></div>
                                <% else %>
                                    <%= org.results.last.used_term %>
                                <% end %>
                            </td>

                            <td>
                                <% if org.results.last.emk_term==1 %>
                                    <%= t('shared.pages.statistic.table.yep') %>
                                <% elsif org.results.last.emk_term==0 %>
                                    <%= t('shared.pages.statistic.table.nope') %>
                                <% end %>
                            </td>

                            <% if org.results.last.mis_inet==1 %>
                                <td><%= t('shared.pages.statistic.table.yep') %></td>
                            <% elsif org.results.last.mis_inet==0 %>
                                <td>
                                    <span class="sender"><%= t('shared.pages.statistic.table.nope') %></span>
                                    <div class="hidden-start detail"><%= org.results.last.mis_emk_reason %></div>
                                </td>
                            <% else %>
                                <td class="center-middle"></td>
                            <% end %>

                            <% if org.register==1 %>
                                <td>
                                    <% if org.results.last.register==1 %>
                                        <%= t('shared.pages.statistic.table.register_feb') %><br />
                                        <%=t 'shared.pages.statistic.table.through_reg', :reg => "#{org.results.last.records_reg}" %><br />
                                        <%=t 'shared.pages.statistic.table.through_inf',  :info => "#{org.results.last.records_infomat}" %><br />
                                        <%=t 'shared.pages.statistic.table.through_inet', :inet => "#{org.results.last.record_inet}" %>
                                   <% elsif org.results.last.register==0 %>
                                        <span class="sender"><%= t('shared.pages.statistic.table.nope') %></span>
                                        <div class="hidden-start detail"><%= org.results.last.register_reason %></div>
                                    <% end %>
                                </td>
                            <% else %>
                                <td class="center-middle"></td>
                            <% end %>

                            <% if org.results.last.doc_reg==1 %>
                                <td><%= t('shared.pages.statistic.table.yep') %></td>
                            <% elsif org.results.last.doc_reg==0 %>
                                <td>
                                    <span class="sender"><%= t('shared.pages.statistic.table.nope') %></span>
                                    <div class="hidden-start detail"><%= org.results.last.doc_reg_reason %></div>
                                </td>
                            <% else %>
                                <td class="center-middle"></td>
                            <% end %>

                            <% if org.infomat==1 %>
                                <td>
                                    <% if org.results.last.used_infomat==1 %>
                                        <%= t('shared.pages.statistic.table.yep') %>
                                    <% elsif org.results.last.used_infomat==0 %>
                                        <span class="sender"><%= t('shared.pages.statistic.table.nope') %></span>
                                        <div class="hidden-start detail"><%= org.results.last.used_infomat_reason %></div>
                                    <% end %>
                                </td>
                            <% else %>
                                <td class="center-middle"></td>
                            <% end %>
                            
                            <% if org.register==1 %>
                                <td>
                                    <% if org.results.last.info_pat==1 %>
                                        <%= t('shared.pages.statistic.table.yep') %>
                                    <% elsif org.results.last.info_pat==0 %>
                                        <span class="sender"><%= t('shared.pages.statistic.table.nope') %></span>
                                        <div class="hidden-start detail"><%= org.results.last.info_pat_reason %></div>
                                    <% end %>
                                </td>
                            <% else %>
                                <td class="center-middle"></td>
                            <% end %>
                            
                            <% if not org.results.last.comments.blank? %>
                                <td>
                                    <a id="modal-sender" role="button" class="btn btn-info" data-toggle="modal"><%= t('shared.pages.statistic.table.read') %></a>
                                </td>
                            <% else %>
                                <td class="center-middle"></td>
                            <% end %>

                        <% end %>
                    </tr>
                <% end %>
