<div class="container-fluid">
    <h3><%= t('shared.pages.statistic.title') %></h3>
    <div id="org-list"> 
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="3%" rowspan="2"><%= t('shared.pages.statistic.table.numb_html') %></th>
                    <th width="16%" rowspan="2"><%= t('shared.pages.statistic.table.name') %></th>
                    <th width="12%" colspan="2"><%= t('shared.pages.statistic.table.terms') %></th>
                    <th width="12%" colspan="2"><%= t('shared.pages.statistic.table.emk') %></th>
                    <th width="10%" rowspan="2"><%= t('shared.pages.statistic.table.register') %></th>
                    <th width="10%" rowspan="2"><%= t('shared.pages.statistic.table.doc_reg') %></th>
                    <th width="12%" rowspan="2"><%= t('shared.pages.statistic.table.infomat_html') %></th>
                    <th width="10%" rowspan="2"><%= t('shared.pages.statistic.table.info_stand') %></th>
                    <th rowspan="2"><%= t('shared.pages.statistic.table.comments') %></th>
                </tr>
                <tr>
                    <th><%= t('shared.pages.statistic.table.term_real') %></th>
                    <th><%= t('shared.pages.statistic.table.term_used') %></th>
                    <th><%= t('shared.pages.statistic.table.emk_term') %></th>
                    <th><%= t('shared.pages.statistic.table.emk_inet') %></th>
                </tr>
                <% @orgs.each do |org| %>
                    <tr>
                        <td><%= org.id %></td>
                        <td>
                            <% if not org.results.blank? %>
                                <%= link_to org.name, org %>
                            <% else %>
                                <%= org.name %>
                            <% end %>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
