<?xml version="1.0" encoding="UTF-8"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook
   xmlns="urn:schemas-microsoft-com:office:spreadsheet"
   xmlns:o="urn:schemas-microsoft-com:office:office"
   xmlns:x="urn:schemas-microsoft-com:office:excel"
   xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
   xmlns:html="http://www.w3.org/TR/REC-html40">
    <Styles>
        <Style ss:ID="Default">
            <Alignment ss:Vertical="Top" ss:WrapText="1"/>
        </Style>
        <Style ss:ID="t1">
            <Borders>
                <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            </Borders>
        </Style>
        <Style ss:ID="t2">
            <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
            <Borders>
                <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            </Borders>
        </Style>
        <Style ss:ID="th1">
            <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
            <Borders>
                <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            </Borders>
            <Font ss:Bold="1"/>
        </Style>
    </Styles>
    <Worksheet ss:Name="<%= t('shared.pages.statistic.excel.sheetsvod') %>">
        <Table>
            <Column ss:AutoFitWidth="0" ss:Width="27" />
            <Column ss:AutoFitWidth="0" ss:Width="225" />
            <Row>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.numb') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.name') %></Data></Cell>
            </Row>
            <Row />
        <% @orgs.each do |org| %>
            <Row>
                <Cell ss:StyleID="t1"><Data ss:Type="Number"><%= org.id %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.name %></Data></Cell>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
    <Worksheet ss:Name="<%= t('shared.pages.statistic.excel.sheetterm') %>">
        <Table>
            <Column ss:AutoFitWidth="0" ss:Width="27" />
            <Column ss:AutoFitWidth="0" ss:Width="225" />
            <Column ss:AutoFitWidth="0" ss:Width="61.5" />
            <Column ss:AutoFitWidth="0" ss:Width="61.5" />
            <Column ss:AutoFitWidth="0" ss:Width="240" />
            <Row>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.numb') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.name') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:MergeAcross="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.terms') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:Index="5" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.result.reason') %></Data></Cell>
            </Row>
            <Row>
                <Cell ss:StyleID="th1" ss:Index="3"><Data ss:Type="String"><%= t('shared.pages.statistic.table.term_real') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:Index="4"><Data ss:Type="String"><%= t('shared.pages.statistic.table.term_used') %></Data></Cell>
            </Row>
        <% @orgs.each do |org| %>
            <Row>
                <Cell ss:StyleID="t1"><Data ss:Type="Number"><%= org.id %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.name %></Data></Cell>
            <% if org.results.blank? %>
                <Cell ss:StyleID="t2" ss:MergeAcross="2"><Data ss:Type="String"><%= t('shared.pages.statistic.table.none') %></Data></Cell>
            <% else %>
                <Cell ss:StyleID="t1"><Data ss:Type="Number"><%= org.term %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="Number"><%= org.results.last.used_term %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.results.last.used_term_reason %></Data></Cell>
            <% end %>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
    <Worksheet ss:Name="<%= t('shared.pages.statistic.excel.emk') %>">
        <Table>
            <Column ss:AutoFitWidth="0" ss:Width="27" />
            <Column ss:AutoFitWidth="0" ss:Width="225" />
            <Column ss:AutoFitWidth="0" ss:Width="61.5" />
            <Column ss:AutoFitWidth="0" ss:Width="61.5" />
            <Column ss:AutoFitWidth="0" ss:Width="240" />
            <Row>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.numb') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.name') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:MergeAcross="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.emk') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:Index="5" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.result.reason') %></Data></Cell>
            </Row>
            <Row>
                <Cell ss:StyleID="th1" ss:Index="3"><Data ss:Type="String"><%= t('shared.pages.statistic.table.emk_term') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:Index="4"><Data ss:Type="String"><%= t('shared.pages.statistic.table.emk_inet') %></Data></Cell>
            </Row>
        <% @orgs.each do |org| %>
            <Row>
                <Cell ss:StyleID="t1"><Data ss:Type="Number"><%= org.id %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.name %></Data></Cell>
            <% if org.results.blank? %>
                <Cell ss:StyleID="t2" ss:MergeAcross="2"><Data ss:Type="String"><%= t('shared.pages.statistic.table.none') %></Data></Cell>
            <% else %>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.results.last.emk_term==1 ? t('shared.pages.statistic.table.yep') : t('shared.pages.statistic.table.nope') %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.results.last.mis_inet==1 ? t('shared.pages.statistic.table.yep') : t('shared.pages.statistic.table.nope') %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.results.last.mis_emk_reason %></Data></Cell>
            <% end %>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
    <Worksheet ss:Name="<%= t('shared.pages.statistic.excel.reg') %>">
        <Table>
            <Column ss:AutoFitWidth="0" ss:Width="27" />
            <Column ss:AutoFitWidth="0" ss:Width="225" />
            <Column ss:AutoFitWidth="0" ss:Width="139.5" />
            <Column ss:AutoFitWidth="0" ss:Width="240" />
            <Row>
                <Cell ss:StyleID="th1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.numb') %></Data></Cell>
                <Cell ss:StyleID="th1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.name') %></Data></Cell>
                <Cell ss:StyleID="th1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.emk') %></Data></Cell>
                <Cell ss:StyleID="th1"><Data ss:Type="String"><%= t('shared.result.reason') %></Data></Cell>
            </Row>
        <% @orgs.each do |org| %>
            <Row>
                <Cell ss:StyleID="t1"><Data ss:Type="Number"><%= org.id %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.name %></Data></Cell>
            <% if org.results.blank? %>
                <Cell ss:StyleID="t2" ss:MergeAcross="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.none') %></Data></Cell>
            <% else %>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><% if org.results.last.register==1 %><%= t('shared.pages.statistic.table.register_feb') %><br /><%=t 'shared.pages.statistic.table.through_reg', :reg => "#{org.results.last.records_reg}" %><br /><%=t 'shared.pages.statistic.table.through_inf',  :info => "#{org.results.last.records_infomat}" %><br /><%=t 'shared.pages.statistic.table.through_inet', :inet => "#{org.results.last.record_inet}" %><% else %><%= t('shared.pages.statistic.table.nope') %><% end %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.results.last.register_reason %></Data></Cell>
            <% end %>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
    <Worksheet ss:Name="<%= t('shared.pages.statistic.excel.doc') %>">
        <Table>
            <Column ss:AutoFitWidth="0" ss:Width="27" />
            <Column ss:AutoFitWidth="0" ss:Width="225" />
            <Row>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.numb') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.name') %></Data></Cell>
            </Row>
            <Row />
        <% @orgs.each do |org| %>
            <Row>
                <Cell ss:StyleID="t1"><Data ss:Type="Number"><%= org.id %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.name %></Data></Cell>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
    <Worksheet ss:Name="<%= t('shared.pages.statistic.excel.infomat') %>">
        <Table>
            <Column ss:AutoFitWidth="0" ss:Width="27" />
            <Column ss:AutoFitWidth="0" ss:Width="225" />
            <Row>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.numb') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.name') %></Data></Cell>
            </Row>
            <Row />
        <% @orgs.each do |org| %>
            <Row>
                <Cell ss:StyleID="t1"><Data ss:Type="Number"><%= org.id %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.name %></Data></Cell>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
    <Worksheet ss:Name="<%= t('shared.pages.statistic.excel.stand') %>">
        <Table>
            <Column ss:AutoFitWidth="0" ss:Width="27" />
            <Column ss:AutoFitWidth="0" ss:Width="225" />
            <Row>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.numb') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.name') %></Data></Cell>
            </Row>
            <Row />
        <% @orgs.each do |org| %>
            <Row>
                <Cell ss:StyleID="t1"><Data ss:Type="Number"><%= org.id %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.name %></Data></Cell>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
    <Worksheet ss:Name="<%= t('shared.pages.statistic.excel.comments') %>">
        <Table>
            <Column ss:AutoFitWidth="0" ss:Width="27" />
            <Column ss:AutoFitWidth="0" ss:Width="225" />
            <Row>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.numb') %></Data></Cell>
                <Cell ss:StyleID="th1" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.name') %></Data></Cell>
            </Row>
            <Row />
        <% @orgs.each do |org| %>
            <Row>
                <Cell ss:StyleID="t1"><Data ss:Type="Number"><%= org.id %></Data></Cell>
                <Cell ss:StyleID="t1"><Data ss:Type="String"><%= org.name %></Data></Cell>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
</Workbook>
