<?xml version="1.0" encoding="UTF-8"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook
   xmlns="urn:schemas-microsoft-com:office:spreadsheet"
   xmlns:o="urn:schemas-microsoft-com:office:office"
   xmlns:x="urn:schemas-microsoft-com:office:excel"
   xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
   xmlns:html="http://www.w3.org/TR/REC-html40">
    <Styles>
        <Style ss:ID="Default">
            <Alignment ss:WrapText="1"/>
            <Borders>
                <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            </Borders>
        </Style>
    </Styles>
    <Worksheet ss:Name="<%= t('shared.pages.statistic.excel.sheetsvod') %>">
        <Table>
            <Row>
                <Cell ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.numb') %></Data></Cell>
                <Cell ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.name') %></Data></Cell>
                <Cell ss:MergeAcross="1"><Data ss:Type="String"><%= t('shared.pages.statistic.table.terms') %></Data></Cell>
                <Cell ss:Index="5" ss:MergeDown="1"><Data ss:Type="String"><%= t('shared.result.reason') %></Data></Cell>
            </Row>
            <Row>
                <Cell ss:Index="3"><Data ss:Type="String"><%= t('shared.pages.statistic.table.term_real') %></Data></Cell>
                <Cell ss:Index="4"><Data ss:Type="String"><%= t('shared.pages.statistic.table.term_used') %></Data></Cell>
            </Row>
        <% @orgs.each do |org| %>
            <Row>
                <Cell><Data ss:Type="String"><%= org.id %></Data></Cell>
                <Cell><Data ss:Type="String"><%= org.name %></Data></Cell>
            <% if org.results.blank? %>
                <Cell ss:MergeAcross="2"><Data ss:Type="String"><%= t('shared.pages.statistic.table.none') %></Data></Cell>
            <% else %>
                <Cell><Data ss:Type="String"><%= org.term %></Data></Cell>
                <Cell><Data ss:Type="String"><%= org.results.last.used_term %></Data></Cell>
                <Cell><Data ss:Type="String"><%= org.results.last.used_term_reason %></Data></Cell>
            <% end %>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
</Workbook>
