<div id="wrapper">
    <div id="head-wrapper">
        <%= render 'shared/user_info' %>
        <ul class="nav nav-pills report-date-picker">
            <li class="dropdown">
                <a href="" class="dropdown-toggle dropdown-picker" data-toggle="dropdown"><%= t('shared.pages.report_for_date') %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <% @grouped_dates.each_key do |group_key| %>
                        <% if not group_key.blank? %>
                            <li><strong><%=l @grouped_dates[group_key][0], :format => '%B' %></strong>
                                <ul class="unstyled">
                                    <% @grouped_dates[group_key].each do |date| %>
                                        <li><%= link_to date.strftime('%d.%m.%Y'), :controller => "pages", :action => "date_report", :date => date %></li>
                                    <% end %>
                                </ul>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
        </ul>
        <h3><%= t('shared.pages.statistic.title') %></h3>
        <%= render "table_header" %>
    </div>
    <div id="body-wrapper">
        <%= render "table" %>
    </div>
</div>

<div id="modalComments" class="modal hide fade">
    <button type="button" class="close" data-dismiss="alert" id="close-modal">×</button>
    <div></div>
</div>
