<div class="container-fluid">
    <h3><%= @title %></h3>
    <ol class="big-line-height">
        <% @orgs.each do |org| %>
            <li>
                <%= org.name %><br />
                <% if Result.get_form_with_phone(org.id) && @public.blank? %>
                    <strong><%= t('shared.pages.phone') %>:</strong> <%= Result.get_form_with_phone(org.id).phone %> (<%= Result.get_form_with_phone(org.id).fio %>)
                <% end %>
            </li>
        <% end %>
    </ol>
</div>
