<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= t("shared.result.title") %>
            <% if @title %>
                | <%= @title %>
            <% end %>
        </title>
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
        <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js", "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
